@import 'styles/_colors';
.app {
  max-width: 72rem;
  margin: auto;

  header {
    font-family: Elianto;
    font-size: 2.5rem;
    font-kerning: 1rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 2px;
    align-items: stretch;
    justify-items: stretch;

    .grid-header {
      font-weight: bold;
      align-self: center;
      justify-self: center;
    }
    .grid-cell {
      display: grid;
      align-items: center;
      justify-items: center;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 1rem;
    }

    .magic {
      display: block;
    }

    .selected {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
}
