@import 'styles/_colors';
@import 'styles/_fonts';

body {
  background-color: $dark;
  color: $accent;
  font-family: PT Sans;
  font-size: 1.5rem;
  margin: 1rem;
}

header {
  font-family: Elianto;
  font-size: 2.5rem;
  font-kerning: 1rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  --augmented-ui: tr-clip r-notch-y br-round bl-clip exe;
  --aug-border: 1rem;
  --aug-border-bg: black;
  --aug-tr: 2rem;
  --aug-bl: 3rem;
  --aug-br: 1.5rem;
  --aug-r-width: 1rem;
}

input {
  background-color: $accent-dark;
  border: none;
  color: inherit;
}
