@import 'styles/_colors';
@import 'styles/_fonts';

body {
  background-color: $dark;
  color: $accent;
  font-family: PT Sans;
  font-size: 1.5rem;
  margin: 1rem;

  #id {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
