.my-augfiguration {
  --aug-tr: 25px;
  --aug-bl: 57px;
  --aug-br-width: 25px;
  --aug-br-height: 50%;
  --aug-border: 10px;
  --aug-border-bg: linear-gradient(to botto...);
  --aug-border-fallback-color: #d8aea4;
  --aug-inset: 10px;
  --aug-inset-bg: white;
  background: linear-gradient(#ff604d, #b1ffff);
  color: #b1ffff;
  min-height: 500px;
  width: 500px;
}

.logo-augmented-ui {
  --augmented-ui: tr-clip r-notch-y br-round bl-clip exe;
  --aug-border: 20px;
  --aug-border-bg: black;
  --aug-tr: 40px;
  --aug-bl: 60px;
  --aug-br: 30px;
  --aug-r-width: 20px;
  --aug-r-height: 200px;
}
.un-logo,
.logo-augmented-ui:hover {
  --augmented-ui: bl-clip r-notch-x exe;
  --aug-r-width: 60px;
}
.logo-augmented-ui {
  box-sizing: border-box;
  background: #ffd700;
  width: 400px;
  height: 400px;
  padding-top: 120px;
  padding-left: 40px;
  font-family: sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-align: left;
}
